# MySQL Database (Hostinger)
# Formato: mysql://usuario:password@host:puerto/database
DATABASE_URL=mysql://u729095573_locationapp:Dsp_76499486@srv2071.hstgr.io:3306/u729095573_locationapp

# O configuración individual:
DB_NAME=u729095573_locationapp
DB_USER=u729095573_locationapp
DB_PASSWORD=Dsp_76499486
DB_HOST=srv2071.hstgr.io
DB_PORT=3306

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=de5zyspyj
CLOUDINARY_API_KEY=374527478257815
CLOUDINARY_API_SECRET=0wKSmyRf_yGc7NwIXzpfE9mnSe0

# Server Port (Render lo configura automáticamente)
PORT=3001
